@import url(../../assets/css/import.css);

/* SEGURO */
.seguro-background {
  background-color: var(--cor-4);
}
.seguro {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
}
.seguro span {
  color: var(--cor-1);
  font-size: 1.5rem;
}
.seguro h1 {
  margin-top: 15px;
  font-weight: bold;
  color: var(--cor-0);
  font-size: 4.5rem;
}
.seguro div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.seguro div .plano {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-5);
  padding: 20px 20px;
  margin: 40px 20px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.seguro div .plano-prata {
  margin-top: 60px;
}
.plano div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plano div div h2 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--cor-2);
}
.plano div div h3 {
  font-size: 2rem;
  color: var(--cor-0);
}
.plano div div p {
  text-align: right;
  font-size: 1.5rem;
  color: var(--cor-2);
}
.plano article p {
  font-size: 1.5rem;
  padding: 15px 40px;
  color: var(--cor-0);
}
.plano article p {
  background-image: url(../../assets/icons/lista.svg);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 25px;
}
.plano div a {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--cor-0);
  background-color: var(--cor-3);
  padding: 15px 15px;
  border-radius: 5px;
  margin: 10px 40px;
}
.plano div a:hover {
  background-color: var(--cor-2);
}
.plano div div .gold {
  color: var(--cor-6);
}
.plano div .gold-sub {
  background-color: var(--cor-7);
}
.plano div .gold-sub:hover {
  background-color: var(--cor-6);
}

/* VANTAGENS */

.vantagens-background {
  background-color: var(--cor-5);
}
.vantagens {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}
.vantagens div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.vantagens h1 {
  margin-bottom: 60px;
  color: var(--cor-0);
  font-weight: bold;
  font-size: 4.5rem;
}
.vantagens div article {
  padding: 35px 0px;
  background-repeat: no-repeat;
}
.vantagens div article h2 {
  color: var(--cor-0);
  font-size: 2rem;
}
.vantagens div article p {
  color: var(--cor-2);
  margin: 15px 0;
  font-size: 1.2rem;
}
.reparo {
  background-image: url(../../assets/icons/eletrica.svg);
}
.carbono {
  background-image: url(../../assets/icons/carbono.svg);
}
.sustentavel {
  background-image: url(../../assets/icons/sustentavel.svg);
}
.rastreador {
  background-image: url(../../assets/icons/rastreador.svg);
}
.seguranca {
  background-image: url(../../assets/icons/seguro.svg);
}
.velocidade {
  background-image: url(../../assets/icons/velocidade.svg);
}

/* PERGUNTAS */
.perguntas {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
.perguntas h1 {
  margin: 80px 50px;
  color: var(--cor-5);
  font-weight: bold;
  font-size: 4.5rem;
}
.perguntas ul {
  margin: 20px 50px;
}
.perguntas ul li {
  border: solid 1px #aaaaaa25;
  background-color: #aaaaaa25;
  padding: 20px 30px;
}
.perguntas ul li:nth-child(2n) {
  background-color: var(--cor-0);
}
.perguntas ul li h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.perguntas ul li h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-bottom: 5px;
  background-color: var(--cor-6);
  transition: width 200ms;
}
.perguntas ul li p {
  margin-left: 20px;
  color: var(--cor-2);
  font-size: 1.2rem;
}
