:root {
  --cor-0: #fff;
  --cor-1: #aaa;
  --cor-2: #666;
  --cor-3: #444;
  --cor-4: #222;
  --cor-5: #111;
  --cor-6: #2ed690;
  --cor-7: #0ca163;
  --cor-8: #04804c;
  --cor-0-1: #f7f7f7;
}
