@import url(reset-css.css);
@import url(colors.css);
@import url(scrollbar.css);
@import url(header-footer.css);
@import url(main-title-div.css);

.wrap {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: center;
}
