.head {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
}
.head span {
  font-size: 1.5rem;
  color: var(--cor-1);
}
.head h1 {
  font-weight: bold;
  font-size: 4.5rem;
  color: var(--cor-0);
}
.head-background {
  background-color: var(--cor-4);
}

@media (max-width: 800px) {
  .head {
    padding: 30px 50px;
  }
}
