.head {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
}
.head span {
  font-size: 1.5rem;
  color: var(--cor-1);
}
.head h1 {
  font-weight: bold;
  font-size: 4.5rem;
  color: var(--cor-0);
}
.head-background {
  background-color: var(--cor-4);
}

@media (max-width: 800px) {
  .head span {
    font-size: 1rem;
  }
  .head h1 {
    font-size: 3.5rem;
    padding: 0;
  }
  .head {
    padding: 20px 50px;
  }
}
@media (max-width: 500px) {
  .head h1 {
    font-size: 2.5rem;
  }
  .head span {
    font-size: 0.7rem;
  }
  .head {
    padding: 15px 30px;
  }
}
